<%= render partial: 'layouts/header' %>
  <div class="container mt-3 mb-5">
    <h2 class="mb-5">プロフィール編集</h2>
      <%= form_with model: @recruiter, url: '/recruiter/recruiters/:id', method: :patch, local: true do |f| %>
    <div class="row">
      <div class="col-4">
        <%= image_tag @recruiter.image, :size => '250x250', format: "jpg", class: "img-fit rounded-circle" %>
        <%#= attachment_image_tag @recruiter, :image, size: 18*18, fallback: "", class: "img-fit rounded-circle mb-3" %>
        <div class="field">
          <p>アイコンを編集する</p>
          <%= f.file_field :image %>
        </div>
      </div>
      <div class="col-8">
        <div class="field row">
          <p class="col-4">名前</p>
          <div class="col-8 row">
            <div class="col-6"><%= f.label :last_name, '姓' %><%= f.text_field :last_name, autofocus: true, class: "form-control input-lg" %></div>
            <div class="col-6"><%= f.label :first_name, '名' %><%= f.text_field :first_name, autofocus: true, class: "form-control input-lg" %></div>
          </div>
        </div>
        <div class="field row">
          <p class="col-4">フリガナ</p>
          <div class="col-8 row">
            <p class="col-6"><%= f.label :last_name_kana, 'セイ' %><%= f.text_field :last_name_kana, autofocus: true, class: "form-control input-lg" %></p>
            <p class="col-6"><%= f.label :first_name_kana, 'メイ' %><%= f.text_field :first_name_kana, autofocus: true, class: "form-control input-lg" %></p>
          </div>
        </div>
        <div class="field row">
          <p class="col-4">郵便番号</p>
          <p class="col-8">
          <%= f.text_field :postal_number, autofocus: true, class: "form-control input-lg" %>
          </p>
        </div>
        <div class="field row">
          <p class="col-4">住所</p>
          <p class="col-8">
          <%= f.text_field :address, autofocus: true, class: "form-control input-lg" %>
          </p>
        </div>
        <div class="field row">
          <p class="col-4">電話番号</p>
          <p class="col-6">
          <%= f.text_field :phone_number, autofocus: true, class: "form-control input-lg" %>
        </div>
        <div class="field row">
          <p class="col-4">EMAIL</p>
          <p class="col-8">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-lg" %>
        </div>
      <%= f.submit "変更を保存", class: "btn btn-outline-primary" %>
      </div>
    </div>
      <% end %>
  </div>
<%= render partial: 'layouts/footer' %>