<div class="about-image">
  <div class="back-image-signup">
    <div class="container">
      <h2 class="text-center mt-5 mb-5">Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="error-messages">
        <%= render "recruiters/shared/error_messages", resource: resource %>
      </div>

            <div class="field row">
                <p class="col-lg-4 about-signup lead">名前<span class="required">※</span></p>
                <div class="col-lg-8 row">
                  <div class="col-lg-6"><%= f.label :last_name, '姓' %><%= f.text_field :last_name, autofocus: true, class: "form-control input-lg", required: true, placeholder: '例：山田' %></div>
                  <div class="col-lg-6"><%= f.label :first_name, '名' %><%= f.text_field :first_name, autofocus: true, class: "form-control input-lg", required: true, placeholder: '例：太郎' %></div>
                </div>
              </div>

              <div class="field row">
                <p class="col-lg-4 about-signup lead">フリガナ<span class="required">※</span></p>
                <div class="col-lg-8 row">
                  <div class="col-lg-6"><%= f.label :last_name_kana, 'セイ' %><%= f.text_field :last_name_kana, autofocus: true, class: "form-control input-lg", required: true, placeholder: '例：山田' %></div>
                  <div class="col-lg-6"><%= f.label :first_name_kana, 'メイ' %><%= f.text_field :first_name_kana, autofocus: true, class: "form-control input-lg", required: true, placeholder: '例：太郎' %></div>
                </div>
              </div>

              <div class="field row">
                <p class="col-lg-4 about-signup lead">郵便番号<span class="required">※</span></p>
                <div class="col-lg-8">
                  <%= f.text_field :postal_number, autofocus: true, class: "form-control input-lg mt-2", required: true, placeholder: '例：1234567 ※（-）無し' %>
                </div>
              </div>

              <div class="field row">
                <p class="col-lg-4 about-signup lead">住所<span class="required">※</span></p>
                <div class="col-lg-8">
                  <%= f.text_field :address, autofocus: true, class: "form-control input-lg mt-2", placeholder: '例：三重県津市栄町' %>
                </div>
              </div>

              <div class="field row">
                <p class="col-lg-4 about-signup lead">電話番号<span class="required">※</span></p>
                <div class="col-lg-8">
                  <%= f.text_field :phone_number, autofocus: true, class: "form-control input-lg mt-2", required: true, placeholder: '例：1234567890 ※（-）無し' %>
                </div>
              </div>

              <div class="field row">
                <p class="col-lg-4 about-signup lead">メールアドレス<span class="required">※</span></p>
                <div class="col-lg-8">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-lg mt-2", required: true, placeholder: '例：xxx@example.com' %>
                </div>
              </div>

              <div class="field row">
                <p class="col-lg-4 about-signup lead">プロフィール画像<span class="required">※</span></p>
                <div class="col-lg-8 mt-2">
                  <%= f.file_field :image %>
                </div>
              </div>

              <div class="field row">
                <p class="col-lg-4 about-signup lead">パスワード<span class="required">※</span></p>
                <div class="col-lg-8">
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> 文字以上)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control input-lg", required: true %>
                </div>
              </div>

              <div class="field row">
                <p class="col-lg-4 about-signup lead">パスワード確認<span class="required">※</span></p>
                <div class="col-lg-8">
                  <%= f.label :password_confirmation, '確認用' %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control input-lg", required: true %>
                </div>
              </div>

              <div class="actions text-center mt-5 mb-5">
                <%= f.submit "募集人登録する", class: "button" %>
              </div>

          <% end %>
        <p class="text-center lead">既に登録済みの方</p>
        <div class="text-center mb-5">
          <%= render "recruiters/shared/links" %>
        </div>
    </div>
  </div>
</div>