<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-5">
          <h2>使わない</h2>
        </div>
        <div class="col-2 mt-2">
          <p class="btn btn-light">実施日</p>
          <p><%= @volunteer.time %></p>
        </div>
        <div class="col-2">
          <p class="btn btn-light mt-2">募集人数</p>
          <p><%= @volunteer.people %></p>
        </div>
        <div class="col-3 mt-2">
          <p class="btn btn-light">募集期限</p>
          <p><%= @volunteer.limit %></p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <p class="btn btn-light">説明</p>
        </div>
        <div class="col-9">
          <%= @volunteer.explanation %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <p class="btn btn-light">実施場所</p>
        </div>
        <div class="col-9">
          <%= @volunteer.place %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <p class="btn btn-light">参加するメリット</p>
        </div>
        <div class="col-9">
          <%= @volunteer.merit %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <p class="btn btn-light">必要物品</p>
        </div>
        <div class="col-9">
          <%= @volunteer.necessary_item %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <p class="btn btn-light">注意点</p>
        </div>
        <div class="col-9">
          <%= @volunteer.important_point %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <p class="btn btn-light">コメント</p>
        </div>
        <div class="col-9">
          <%= @volunteer.comment %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="frame-slider" id="slider">
        <% @volunteer.images.each do |image| %>
          <%= attachment_image_tag image, :image, :fill, 400, 400, format: "jpg" %>
        <% end %>
      </div>
      
      <!--チャット機能-->
      <div class="open-window off" id="chatRoom">
        <%= render partial: 'chat', locals: {customer: @customer,volunteer: @volunteer, message: @message, messages: @messages, room: @room} %>
      </div>
      <!--ここまで-->
        
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-8"></div>
    <div class="col-4 row text-center">
      <!--チャット画面へ開く-->
      <div class="col-6">
          <button type="button" id="btnInvisible" value="チャット" class="btn btn-outline-primary">
            チャット
          </button>
      </div>
      <!--ボランティア申し込みを行う-->
      <div class="col-6">
        <!--ボランティア登録されている場合-->
        <% if @volunteer.customer_volunteer_in?(current_customer) %>
          <%#= link_to "ボランティアをキャンセルする", public_volunteer_volunteer_customer_path(@volunteer, @volunteer_customer), method: :delete, date: {confirm: "ボランティアをキャンセルしますか？"}, class: "btn btn-outline-primary" %>
          <div class="btn btn-outline-primary">ボランティア決定</div>
        <!--これから申し込む場合-->
        <% elsif current_customer %>
          <% if @apply %>
            <%= link_to "申し込みを取り消す", public_volunteer_apply_path(@volunteer, @apply), method: :delete, date: {confirm: "このボランティアへ申し込みを取り消しますか？"}, class: "btn btn-outline-primary" %>
          <% else %>
            <%= link_to "申し込む", public_volunteer_applies_path(@volunteer),method: :post, date: {confirm: "このボランティアへ申し込みを行いますか？"}, class: "btn btn-outline-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>