<div class="container mt-3 mb-3">
  <h1>ボランティア一覧</h1>
  <% @volunteer.each do |volunteer| %>
  <div class="row mt-3 mb-3">
    <div class="col-10 mt-2 mb-2">
      <div class="row">
        <h4 class="col-3"><%=  volunteer.name %></h4>
        <div class="col-2 btn btn-light mr-3"><%=  volunteer.genre %></div>
        <div class="col-4 btn btn-light mr-3"><%=  volunteer.place %></div>
        <div class="col-2 btn btn-light mr-3"><%= volunteer.volunteer_status %></div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col-8">
          <%= attachment_image_tag volunteer, :images_attributes %>
        </div>
        <div class="col-4">
          <%= volunteer.a_litle_explanation %>
        </div>
      </div>
    </div>
    <div class="col-2">
      <%= link_to "ボランティアを詳しく見る", recruiter_volunteer_path(volunteer), class: "btn btn-outline-primary" %>
    </div>
  </div>
  <% end %>
</div>