<div class="about-image">
  <div class="container mt-3 mb-5">
    <h1 class="text-center mt-3 mb-3">ボランティア一覧</h1>

    <!--検索フォーム-->
    <div class="search">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :name %>
        <%= f.submit :'検索' %>
      <% end %>
    </div>

    <% @volunteer.each do |volunteer| %>
    <div class="row border-index volunteer_about">
      <div class="col-lg-10 mt-2 mb-2">
        <div class="row">
          <h4 class="col-lg-3 text-center volunteer_about_litle"><%=  volunteer.name %></h4>
          <div class="col-lg-2 btn btn-light volunteer_about_litle"><%=  volunteer.genre %></div>
          <div class="col-lg-4 btn btn-light volunteer_about_litle"><%=  volunteer.place %></div>
          <div class="col-lg-2 btn btn-light volunteer_about_litle"><%= volunteer.volunteer_status %></div>
        </div>
        <div class="row mt-5 mb-3">
          <div class="col-lg-8">
            <div class="frame">
              <% volunteer.images.first(1).each do |image| %>
                <%= image_tag image, :size => '400x250', format: "jpg" %>
              <% end %>
            </div>
          </div>
          <div class="col-lg-4 volunteer_explanation">
            <%= volunteer.a_litle_explanation %>
          </div>
        </div>
      </div>
      <div class="col-lg-2 go_volunteer_show">
        <%= link_to "詳しく見る", recruiter_volunteer_path(volunteer), class: "button" %>
      </div>
    </div>
    <% end %>
    <div class="paginate">
      <%= paginate @volunteer %>
    </div>
  </div>
</div>