<div class="about-image">
  <div class="container">
    <div class="error-messages">
      <% if @volunteer.errors.any? %>
        <%= @volunteer.errors.count %>件のエラーが発生しました<br />
        <% @volunteer.errors.full_messages.each do |message| %>
          <%= message %>/
        <% end %>
      <% end %>
    </div>
    <h2 class="text-center mt-3 mb-3">ボランティア登録</h2>
    <%= form_with model: @volunteer, url: {controller: 'volunteers', action: 'create'}, local:true do |f| %>
      <div class="row">
        <div class="col-lg-8">
            <div class="row volunteer_edit">
              <div class="col-lg-4">
                <p>ボランティア名</p>
              </div>
              <div class="col-lg-8 form-group">
                <%= f.text_field :name, class: "form-control input-lg", required: true, placeholder: '例：町内清掃' %>
              </div>
            </div>
            <div class="row volunteer_edit">
              <div class="col-lg-4">
                <p>概要　※100文字以内</p>
              </div>
              <div class="col-lg-8 form-group">
                <%= f.text_field :a_litle_explanation, class: "form-control input-lg a_litle_explanation-form", required: true, placeholder: '例：栄駅前の大規模な清掃活動を行います' %>
              </div>
            </div>
            <div class="row volunteer_edit">
              <div class="col-lg-4">
                <p>説明</p>
              </div>
              <div class="col-lg-8 form-group">
                <%= f.text_field :explanation, class: "form-control input-lg explanation-form", required: true, placeholder: 'ボランティアの説明を記入してください' %>
              </div>
            </div>
            <div class="row volunteer_edit">
              <div class="col-lg-4">
                <p>実施場所</p>
              </div>
              <div class="col-lg-8 form-group">
                <%= f.text_field :place, class: "form-control input-lg", required: true, placeholder: '例：三重県津市栄町駅前付近' %>
              </div>
            </div>
            <div class="row volunteer_edit">
              <div class="col-lg-4">
                <p>実施日時</p>
              </div>
              <div class="col-lg-4 form-group">
                <%= f.datetime_field :time, class: "form-control", required: true %>
                <%#= f.time_select :time, {:include_blank => true, :minute_step => 10}, class: 'form-control m-2' %>
              </div>
            </div>
            <div class="row volunteer_edit">
              <div class="col-lg-4">
                <p>募集人数</p>
              </div>
              <div class="col-lg-4 form-group">
                <%= f.text_field :people, class: "form-control", required: true, placeholder: '例：７' %>
              </div>
            </div>
            <div class="row volunteer_edit">
              <div class="col-lg-4">
                <p>参加するメリット</p>
              </div>
              <div class="col-lg-8 form-group">
                <%= f.text_field :merit, class: "form-control input-lg merit-form", required: true, placeholder: '例：グループでの清掃活動を通して新しい出会いがあります' %>
              </div>
            </div>
            <div class="row volunteer_edit">
              <div class="col-lg-4">
                <p>必要物品</p>
              </div>
              <div class="col-lg-8 form-group">
                <%= f.text_field :necessary_item, class: "form-control input-lg necessary_item-form", required: true, placeholder: '例：水分 軍手 ゴミ袋' %>
              </div>
            </div>
            <div class="row volunteer_edit">
              <div class="col-lg-4">
                <p>注意点</p>
              </div>
              <div class="col-lg-8 form-group">
                <%= f.text_field :important_point, class: "form-control input-lg important_point-form", required: true, placeholder: '例：当日は暑くなることが予測されますのでこまめな水分補給を心がけましょう' %>
              </div>
            </div>
            <div class="row volunteer_edit">
              <div class="col-lg-4">
                <p>コメント</p>
              </div>
              <div class="col-lg-8 form-group">
                <%= f.text_field :comment, class: "form-control input-lg comment-form", required: true, placeholder: '例：よろしくお願いします' %>
              </div>
            </div>
            <div class="row volunteer_edit">
              <div class="col-lg-4">
                <p>募集締め切り日</p>
              </div>
              <div class="col-lg-4 form-group">
                <%= f.date_field :limit, class: "form-control", required: true %>
              </div>
            </div>
            <div class="row volunteer_edit">
              <div class="col-lg-4">
                <p>ジャンル</p>
              </div>
              <div class="col-lg-8 form-group">
                <%= f.select :genre, options_for_select(Volunteer.genres.keys), include_blank: "ジャンル選択" %>
              </div>
            </div>
          </div>

          <div class="col-lg-4 volunteer_edit">
            <p>画像選択　※3枚以上投稿が必要です</p>
              <%= f.file_field :images, multiple: true, :accept => "image/*", :onchange => "loadImage(this);" %>
                <%#= f.file_field :images, multipe: true do |i| %>
                  <%#= i.images_tag :image, multiple: true, name: "images_attributes[0][image][]", type: "file", accept: "image/*", multiple: " multiple", onchange: "loadImage(this);" %>
                <%# end %>
            <div id="imgPreviewField" class="mt-3 mr-2 d-flex"></div>
          </div>
        </div>
      <div class="text-center">
        <%= f.submit '投稿', class: "btn btn-outline-primary mb-3" %>
      </div>
    <% end %>
  </div>
</div>