<%= render partial: 'layouts/header' %>
<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-5">
          <h2><%= @volunteer.name %></h2>
        </div>
        <div class="col-2 mt-2">
          <p class="btn btn-light">実施日</p>
          <p><%= @volunteer.time %></p>
        </div>
        <div class="col-2">
          <p class="btn btn-light mt-2">募集人数</p>
          <p><%= @volunteer.people %></p>
        </div>
        <div class="col-3 mt-2">
          <p class="btn btn-light">募集期限</p>
          <p><%= @volunteer.limit %></p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <p class="btn btn-light">説明</p>
        </div>
        <div class="col-9">
          <%= @volunteer.explanation %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <p class="btn btn-light">実施場所</p>
        </div>
        <div class="col-9">
          <%= @volunteer.place %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <p class="btn btn-light">参加するメリット</p>
        </div>
        <div class="col-9">
          <%= @volunteer.merit %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <p class="btn btn-light">必要物品</p>
        </div>
        <div class="col-9">
          <%= @volunteer.necessary_item %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <p class="btn btn-light">注意点</p>
        </div>
        <div class="col-9">
          <%= @volunteer.important_point %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <p class="btn btn-light">コメント</p>
        </div>
        <div class="col-9">
          <%= @volunteer.comment %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="frame-slider" id="slider">
        <% @volunteer.images.each do |image| %>
          <%= attachment_image_tag image, :image, :fill, 400, 400, format: "jpg" %>
        <% end %>
      </div>

      <!--チャット小ルーム-->
        <div class="open-window off" id="chatRoom">
        <h5 class="chat-title"><%= @volunteer.name %>のチャットルーム</h5>
            <div id="chats">
              <% if @messages.blank? %>
                <p>メッセージはありません</p>
              <% else%>
                <% @messages.each do |message| %>
                    <% if message.recruiter != nil %>
                      <div class="mycomment">
                        <p><%= message.message %></p>
                      </div>
                      <div><%= message.recruiter.last_name %></div>
                    <% else %>
                      <div class="fukidasi">
                        <div class="faceicon">
                          <%= attachment_image_tag @customer, :fill, 10, 10, size: 15*15, fallback: "logo.png" %>
                        </div>
                        <div class="chatting">
                          <div class="says">
                            <p><%= message.message %></p>
                          </div>
                          <div class="name"><%= message.customer.last_name %></div>
                        </div>
                      </div>
                    <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="chat-input">
              <div class="chat-comment">
                <%= form_with model: @message, url: messages_path, class: "send-form", local: true do |f| %>
                  <%= f.text_field :message, class:"address-new-form" %>
                  <%= f.hidden_field :room_id, value: @room.id %>
                  <%= f.submit "送信", class:"register-green-btn" %>
                <% end %>
              </div>
            </div>
        </div>
        <!--ここまでチャット-->

      </div>
  </div>
  <div class="row mb-5">
    <div class="col-8"></div>
    <div class="col-4">
      <div class="row">
        <div class="col-6 text-center">
          <%= link_to "編集する", edit_recruiter_volunteer_path(@volunteer), class: "btn btn-outline-primary" %>
        </div>

        <!--チャット表示、非表示ボタン-->
        <div class="col-6 text-center">
          <div class="row">
            <button type="button" id="btnInvisible" value="チャット" class="btn btn-outline-primary">
              チャット
            </button>
          </div>

          <!--メッセージの未読がある際に変化-->
          <% if @volunteer.message_checked_customer %>
            <%= link_to "チャットルーム", room_path(@room), class: "go_chat btn" %>
          <% else %>
            <%= link_to "チャットルーム", room_path(@room), class: "go_chat btn  btn-outline-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
