<main>
      <% if customer_signed_in? %>
        <div class="ml-5">ようこそ<%= current_customer.last_name %>様</div>
      <% elsif recruiter_signed_in? %>
        <div class="ml-5">ようこそ<%= current_recruiter.last_name %>様</div>
      <% end %>
      <div class="full">
        <div class="top_visual1">
          <div class="container">
              <h2 class="d-flex align-items-center" style="height:800px;">まだ見ぬ新たな出会い</h2>
          </div>
        </div>
        <div class="top_visual2">
          <div class="container">
              <h2 class="d-flex align-items-center" style="height:800px;">まだ見ぬ新たな出会い</h2>
          </div>
        </div>
        <div class="top_visual3">
          <div class="container">
              <h2 class="d-flex align-items-center" style="height:800px;">まだ見ぬ新たな出会い</h2>
          </div>
        </div>
        
      </div>
    <ul class="row-nav">
        <% if customer_signed_in? %>
          <div class="navbar row text-center">
            <li class="nav-item col-3 border-right link_a"><%= link_to "マイページ", public_customers_path(:id) %></li>
            <li class="nav-item col-3 border-right link_a"><%= link_to "ボランティア一覧", recruiter_volunteers_path %></li>
            <li class="nav-item col-3 border-right link_a"><%= link_to "ボランティアステータス", public_customers_path(:id) %></li>
            <li class="nav-item col-3 link_a"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
          </div>
        <% elsif recruiter_signed_in? %>
          <div class="navbar row text-center">
            <li class="nav-item col-3 border-right link_a"><%= link_to "マイページ", recruiter_recruiter_path(:id) %></li>
            <li class="nav-item col-3 border-right link_a"><%= link_to "ボランティア一覧",recruiter_volunteers_path %></li>
            <li class="nav-item col-3 border-right link_a"><%= link_to "新規投稿",new_recruiter_volunteer_path %></li>
            <li class="nav-item col-3 link_a"><%= link_to "ログアウト", destroy_recruiter_session_path, method: :delete %></li>
          </div>
        <% else %>
          <div class="navbar row text-center">
            <li class="nav-item col-3 border-right link_a"><%= link_to "ボランティア一覧", recruiter_volunteers_path %></li>
            <li class="nav-item col-3 border-right link_a"><%= link_to "新規登録", new_customer_registration_path %></li>
            <li class="nav-item col-3 border-right link_a"><%= link_to "ボランティア募集", homes_about_path %></li>
            <li class="nav-item col-3 link_a"><%= link_to "ログイン", new_customer_session_path %></li>
          </div>
        <% end %>
      </ul>
    <div class="main-text pt-5">
        <h2 class="text-center mt-5 mb-10 pt-5 pb-5">
          ボランティアは人のためにやること？
        </h2>
        <h2 class="text-center mt-5 mb-10 pt-5 pb-5">
          本当にそうでしょうか
        </h2>
        </h2>
        <h2 class="text-center mt-5 mb-5 pt-5 pb-5">
          一度だけ体験してみませんか？
          そこにはまだ出会ったことのない何かがあるかもしれません
        </h2>
    </div>
    <div class="bottom_visual"></div>
</main>