<div class="container">
  <h3 class="text-center mt-5 mb-5">承認待ち一覧</h3>
  <% @applies.each do |app| %>
    <div class="row border-bottom mb-5">
      <div class="col-4 row">
          <div class="text-center mb-3">
            <% if app.customer.image.attached? %>
              <%= link_to (public_customers_path(app.customer)) do %>
                <%= image_tag app.customer.image, :size => '150x100', fallback: "logo.png" %>
              <% end %>
            <% else %>
              <%= link_to (public_customers_path(app.customer)) do %>
                <p class="profile_image_applies rounded-circle"></p>
              <% end %>
            <% end %>
          </div>
      </div>
      <div class="col-5">
        <div class="lead">
        <%= app.customer.last_name %>
        <%= app.customer.first_name %>
        </div><br/>
        <p class="mt-4"><%= app.customer.comment %></p>
      </div>
      <div class="col-2 d-flex d-flex align-items-center">
        <%= link_to "承認", public_volunteer_volunteer_customers_path(app.volunteer, customer_id: app.customer.id, apply_id: app.id), method: :post, class: "button mr-3" %>
        <%= link_to "却下", public_volunteer_apply_path(app.volunteer, app), method: :delete, class: "button" %>
      </div>
    </div>
  <% end %>
</div>
