<div class="about-image">
  <div class="container apply_index">
    <h3 class="text-center mt-5 mb-5">承認待ち一覧</h3>
    <% @applies.each do |app| %>
      <div class="row border-bottom mb-5 apply_index">
        <div class="col-lg-4">
            <div class="text-center mb-3">
              <% if app.customer.image.attached? %>
                <%= link_to (public_customers_path(app.customer)) do %>
                  <%= image_tag app.customer.image, :size => '150x100', fallback: "logo.png" %>
                <% end %>
              <% else %>
                <%= link_to (public_customers_path(app.customer)) do %>
                  <p class="profile_image_applies rounded-circle"></p>
                <% end %>
              <% end %>
            </div>
        </div>
        <div class="col-lg-5">
          <div class="lead">
          <%= app.customer.last_name %>
          <%= app.customer.first_name %>
          </div><br/>
          <p class="mt-4"><%= app.customer.comment %></p>
        </div>
        <div class="col-lg-2">
          <div class="apply_button">
            <%= link_to "承認", public_volunteer_volunteer_customers_path(app.volunteer, customer_id: app.customer.id, apply_id: app.id), method: :post, class: "button" %>
          </div>
          <div class="apply_button">
            <%= link_to "却下", public_volunteer_apply_path(app.volunteer, app), method: :delete, class: "button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
